.mapControls {
    .gameMap {
        .tilesLayer,
        .spritesLayer,
        .tilesLayer div,
        .spritesLayer div {
            position: absolute;
        }
          
        .tilesLayer div {
            border: 1px solid #282828;
        }            
    }
}

@media (max-width: 1200px) {
    .innerContainer {
        width: 100% !important;
    }
}