.container {

    .textContent {
        position: relative;
        text-align: center;
        z-index: 10;

        .text {
            width: 65%;
            margin: auto;
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            margin-top: 14%;
        }

        .button {
            background-color: transparent;
            color: #157A6E;
            margin-top: 4vh;
            width: 200px;
            height: 60px;
            line-height: 40px;
            vertical-align: middle;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 20px;
            border: 5px solid;
            transition: 0.25s;
            outline: none;
            cursor: pointer;
            &:hover {
                color: #282828;
                border-color: #FFD447;
                animation: pulse 1s;
                box-shadow: 0 0 0 1em rgba(#fff, 0);
            }

            @keyframes pulse {
                0% { box-shadow: 0 0 0 0 #FFD447 }
            }
        }
    }
}