.mathsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .exercises {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        margin-bottom: 5vh;
    }

    .mathsTasks {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #282828;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;

        .box {
            border: 2px solid #282828;
            width: 60px;
            height: 50px;

            .numberOne, .numberTwo {
                text-align: center;
                line-height: 55px;
            }
        }
    }

    .inputField {
        border: 2px solid #282828;
        width: 60px;
        height: 48px;
        font-size: 40px;
        text-align: center;
    }

    .button {
        background-color: transparent;
        color: #157A6E;
        margin-top: 4vh;
        width: 180px;
        height: 50px;
        line-height: 25px;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        border: 5px solid;
        transition: 0.25s;
        outline: none;
        cursor: pointer;
        &:hover {
            color: #282828;
            border-color: #FFD447;
            animation: pulse 1s;
            box-shadow: 0 0 0 1em rgba(#fff, 0);
        }
    
        @keyframes pulse {
            0% { box-shadow: 0 0 0 0 #FFD447 }
        }
    }

    .error {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: red;
        margin: 2vh auto 0 auto;
        letter-spacing: 1px;
    }
}

@media (max-width: 549px) {
    .mathsContainer {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;

        .exercises {
            width: 100% !important;
            text-align: center !important;
        }

        .mathsTasks {
            width: 100% !important;
        }
    }
}

@media (min-width: 550px) and (max-width: 1200px) {
    .mathsContainer {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        
        .exercises {
            width: 100% !important;
            text-align: center !important;
        }

        .mathsTasks {
            width: 50% !important;
        }
    }
}