@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #282828;
  scroll-behavior: smooth;
  transition: 0.2s ease;
  overflow: hidden;
};

.gameContainer {
  margin: 12% auto 3vh 40%;
}

.default .floor {
  background-color: whitesmoke;
}  
.default .wall {
  background-color: #282828;
}

.player, .goal {
  transform-origin: center;
  transform: scale(0.85);
}

.player {
  transition: left 0.2s linear, top 0.2s linear;
}

.goal {
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 549px) {
  html, body {
    overflow: unset;
  }
  
  .gameContainer {
    width: inherit !important;
    margin: 5% auto 3vh auto !important;
  }
}

@media (min-width: 550px) and (max-width: 699px) {
  html, body {
    overflow: unset;
  }
  
  .gameContainer {
    width: 70% !important;
    margin: 5% auto 3vh auto !important;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  html, body {
    overflow: unset;
  }
  
  .gameContainer {
    width: 60% !important;
    margin: 5% auto 3vh auto !important;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  html, body {
    overflow: unset;
  }
  
  .gameContainer {
    width: 40% !important;
    margin: 5% auto 3vh auto !important;
  }
}