@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #282828;
  scroll-behavior: smooth;
  transition: 0.2s ease;
};

.gameContainer {
  width: 20%;
  margin: 16% auto 3vh auto;
}

.default .floor {
  background-color: whitesmoke;
}  
.default .wall {
  background-color: #282828;
}

.player, .goal {
  transform-origin: center;
  transform: scale(0.85);
}

.player {
  transition: left 0.2s linear, top 0.2s linear;
}

.goal {
  vertical-align: middle;
  text-align: center;
}